ConnectionStrings__DefaultConnection=Server=localhost,1433;Database=company_expenses_auth;User Id=sa;Password=YourPassword;TrustServerCertificate=True;MultipleActiveResultSets=true;

Authentication__Google__ClientId=your-google-client-id.apps.googleusercontent.com
Authentication__Google__ClientSecret=your-google-client-secret

EmailSettings__SmtpHost=live.smtp.mailtrap.io
EmailSettings__SmtpPort=587
EmailSettings__SmtpUsername=api
EmailSettings__SmtpPassword=your-smtp-password
EmailSettings__FromEmail=noreply@example.com
EmailSettings__FromName=Company Expenses
EmailSettings__EnableSsl=true

AppSettings__ApiBaseUrl=https://localhost:7200
AppSettings__FrontendUrl=http://localhost:5173
