ConnectionStrings__DefaultConnection=Server=localhost,1433;Database=company_expenses;User Id=sa;Password=YourPassword;TrustServerCertificate=True;MultipleActiveResultSets=true;
ConnectionStrings__AuthConnection=Server=localhost,1433;Database=company_expenses_auth;User Id=sa;Password=YourPassword;TrustServerCertificate=True;MultipleActiveResultSets=true;

EmailSettings__SmtpHost=live.smtp.mailtrap.io
EmailSettings__SmtpPort=587
EmailSettings__SmtpUsername=api
EmailSettings__SmtpPassword=your-smtp-password
EmailSettings__FromEmail=noreply@example.com
EmailSettings__FromName=Company Expenses
EmailSettings__EnableSsl=true

AppSettings__FrontendUrl=http://localhost:5173
AppSettings__AuthServerUrl=https://localhost:7169

CorsSettings__AllowedOrigins=https://localhost:5173,http://localhost:5173,https://localhost:5174,http://localhost:5174
